:root {
    --liturgical-red: #B3261E;
    --text-main: #1C1B1F;
    --background-main: #FFFBFE;
    --background-primary: #014997
}

body {
    font-family: "Times New Roman", serif;
    background-color: var(--background-main);
    color: var(--text-main);
    margin: 0;
    padding-top:56px;
    padding: 0;
    line-height: 1.6;
}

/* Rubricas litúrgicas */
.rub {
    color: var(--liturgical-red);
    font-size: 0.85em;
    font-style: italic;
    font-family: "Times New Roman", serif;
    display: block;
    margin: 6px 0;
    line-height: 1.4;
}

/* Títulos principais */
h1, h2 {
    font-family: "Times New Roman", serif;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

/* Parágrafos litúrgicos */
p {
    margin: 8px 0;
}

/* Container central para leitura confortável */
.container {
    max-width: 720px;
    margin: auto;
    padding: 24px;
}

/* Divisor litúrgico simples */
.divider {
    text-align: center;
    margin: 24px 0;
    color: var(--liturgical-red);
  }

.toolbar{
height:56px;
background:var(--background-primary);

display:flex;
align-items:center;
justify-content:space-between;

padding:0 16px;
box-sizing:border-box;

color:white;

position:fixed;
top:0;
left:0;
width:100%;
z-index:900;
}

.toolbar-left{
display:flex;
align-items:center;
gap:10px;
}

.toolbar-icon{
height:26px;
}

.toolbar-title{
font-size:18px;
font-weight:500;
color:white;
}

.toolbar-menu{
height:22px;
cursor:pointer;
}

/* overlay */

.drawer-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
opacity:0;
visibility:hidden;
transition:opacity 0.25s;
z-index:999;
}

.drawer-overlay.show{
opacity:1;
visibility:visible;
}

/* drawer */

.drawer{
position:fixed;
top:0;
left:0;

width:280px;
height:100%;

background:white;

transform:translateX(-100%);
transition:transform 0.25s ease;

display:flex;
flex-direction:column;

z-index:1000;
}

.drawer.open{
transform:translateX(0);
}

/* header */

.drawer-header{
background:var(--background-primary);
padding:20px;
}

.drawer-header a{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
color:white;
}

.drawer-logo{
height:28px;
}

.drawer-title{
font-size:20px;
font-weight:500;
}

/* menu items */

.drawer-items{
flex:1;
display:flex;
flex-direction:column;
}

.drawer-items a{
padding:14px 20px;
text-decoration:none;
color:#333;
font-size:15px;
}

.drawer-items a:hover{
background:#f2f2f2;
}

/* footer */

.drawer-footer{
padding:16px 20px;
font-size:13px;
color:#666;
border-top:1px solid #eee;
}

.drawer-footer a{
display:block;
margin-top:4px;
text-decoration:none;
color:#333;
}
